<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368032595776-du78chqhegoidqkdjd516221dgul7ilh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368032595776-du78chqhegoidqkdjd516221dgul7ilh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>368032595776-438m5a66ia5eqtk49rier918757ieb0c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3yrFfU3Q5caOJuTDHYiJYJpHFJM5gcKg</string>
	<key>GCM_SENDER_ID</key>
	<string>368032595776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatWaitingTrinity</string>
	<key>PROJECT_ID</key>
	<string>chat-waiting-trinity</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-waiting-trinity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368032595776:ios:3ad21f5fdbf8d3ec9b44a5</string>
	<key>DATABASE_URL</key>
	<string>https://chat-waiting-trinity.firebaseio.com</string>
</dict>
</plist>